<p id="notice" class="text-center"><%= modified_notice %></p>

<div class="container">
    <div class="d-inline-block">
        <h2>Player: <%= @player.name %> "<%= @player.nickname %>" <%= @player.surname %></h2>
    </div>

    <hr />
    <p>
      <strong>Name:</strong>
      <%= @player.name %>
    </p>

    <p>
      <strong>Surname:</strong>
      <%= @player.surname %>
    </p>

    <p>
      <strong>Nickname:</strong>
      <%= @player.nickname %>
    </p>

    <p>
      <strong>Salary:</strong>
      <%= @player.salary %>
    </p>

    <p>
      <strong>Date of birth:</strong>
      <%= @player.date_of_birth.strftime("%d.%m.%Y") %>
    </p>

    <p>
      <strong>Team:</strong>
      <% if @player.team.present? %>
        <%= link_to @player.team.name, @player.team %>
      <% end %>
    </p>

    <hr />

    <%= link_to 'Edit', edit_player_path(@player), :class => "btn btn-success btn-sm" %>
    <%= link_to 'Delete', @player, method: :delete, data: { confirm: 'Are you sure you want to delete this player?' }, :class => "btn btn-danger btn-sm" %>
    <%= link_to 'Back', players_path, :class => "btn btn-primary btn-sm" %>

</div>
