<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>
      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><%= form.label :name, :class => "control-label col-md-1" %></td>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr>
      <td><%= form.label :surname, :class => "control-label col-md-1" %></td>
      <td><%= form.text_field :surname %></td>
    </tr>
    <tr>
      <td><%= form.label :nickname, :class => "control-label col-md-1" %></td>
      <td><%= form.text_field :nickname %></td>
    </tr>
    <tr>
      <td><%= form.label :salary, :class => "control-label col-md-1" %></td>
      <td><%= form.text_field :salary %></td>
    </tr>
    <tr>
      <td><%= form.label "Birthday", :class => "control-label col-md-1" %></td>
      <td><%= form.date_select :date_of_birth, :start_year=>1900, :order=>[:day, :month, :year] %></td>
    </tr>
  </table>
  <div class="field" style="margin-top: 10px;">
    <%= form.submit 'Save', :class => "btn btn-success btn-sm" %>
  </div>
<% end %>
