<p id="notice" class="text-center"><%= notice %></p>

<div class="container">
    <div class="d-inline-block">
        <h2>Edit Player:  <%= @player.name %> "<%= @player.nickname %>" <%= @player.surname %></h2>
    </div>

    <hr />

    <%= render 'form', player: @player %>

    <hr />

    <%= link_to 'Show', @player , :class => "btn btn-warning btn-sm" %>
    <%= link_to 'Back', players_path, :class => "btn btn-primary btn-sm" %>

</div>
