<p id="notice" class="text-center"><%= notice %></p>

<div class="container">
    <div class="d-inline-block">
        <h1>Players</h1>
    </div>
    <br/>
    <div class="d-inline-block float-left" style="margin-top: 10px;">
        <%= link_to 'Add Player', new_player_path, :class => "btn btn-primary btn-sm" %>
    </div>

    <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Nickname</th>
          <th>Date of birth</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.surname %></td>
            <td><%= player.nickname %></td>
            <td><%= player.date_of_birth.strftime("%d.%m.%Y") %></td>
            <td>
              <%= link_to 'Show', player , :class => "btn btn-warning btn-sm" %>
              <%= link_to 'Edit', edit_player_path(player), :class => "btn btn-success btn-sm" %>
              <%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure you want to delete this player?' }, :class => "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
