<p id="notice" class="text-center"><%= modified_notice %></p>

<div class="container">
    <div class="d-inline-block">
        <h2>Team: <%= @team.name %></h2>
    </div>

    <hr />
    <p>
      <strong>Name:</strong>
      <%= @team.name %>
    </p>

    <p>
      <strong>Foundation date:</strong>
      <%= @team.date_of_founding.strftime("%d.%m.%Y") %>
    </p>

    <% if @team.players.count > 0 %>
    <p>
      <strong>Players:</strong>
      <ul class="list-group">
      <% @team.players.each do |player| %>
        <li class="list-group-item"><%= link_to player.name + " '" + player.nickname + "' " + player.surname, player %></li>
      <% end %>
      </ul>
    </p>
    <% end %>

    <% if @team.image.attached? %>
    <p>
      <strong>Image:</strong>
      <%= image_tag @team.image.variant(resize: "100x100") %>
    </p>
    <% end %>
    <hr />

    <%= link_to 'Edit', edit_team_path(@team), :class => "btn btn-success btn-sm" %>
    <%= link_to 'Delete', @team, method: :delete, data: { confirm: 'Are you sure you want to delete this team?' }, :class => "btn btn-danger btn-sm" %>
    <%= link_to 'Back', teams_path, :class => "btn btn-primary btn-sm" %>

</div>
