<p id="notice" class="text-center"><%= modified_notice %></p>

<div class="container">
    <div class="d-inline-block">
        <h2>Edit Match (<%= @match.id %>)</h2>
    </div>

    <hr />

    <%= render 'form', match: @match %>

    <hr />

    <%= link_to 'Show', @match , :class => "btn btn-warning btn-sm" %>
    <%= link_to 'Back', matches_path, :class => "btn btn-primary btn-sm" %>

</div>
