<p id="notice" class="text-center"><%= modified_notice %></p>

<div class="container">
    <div class="d-inline-block">
        <h1>Match History</h1>
    </div>
    <br/>
    <div class="d-inline-block float-left" style="margin-top: 10px;">
        <%= link_to 'Add Match', new_match_path, :class => "btn btn-primary btn-sm" %>
    </div>

    <table class="table table-stripped table-hover  index indexborders">
      <thead>
        <tr>
          <th class="indexborders">First team</th>
          <th class="indexborders">Second team</th>
          <th class="indexborders">Result</th>
          <th class="indexborders">Date</th>
          <th class="indexborders" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @matches.each do |match| %>
          <tr>
            <td class="textfield indexborders" data-toggle="modal" data-target="#modalShowRow<%= match.id %>">
              <% if match.team_one != nil %>
                <%= link_to match.team_one.name, match.team_one%>
              <% else %>
                <i>Team does not exist</i>
              <% end %>
            </td>
            <td class="textfield indexborders" data-toggle="modal" data-target="#modalShowRow<%= match.id %>">
              <% if match.team_two != nil %>
                <%= link_to match.team_one.name, match.team_one%>
              <% else %>
                <i>Team does not exist</i>
              <% end %>
            </td>
            <td class="nontextfield indexborders" data-toggle="modal" data-target="#modalShowRow<%= match.id %>"><%= match.result %></td>
            <td class="nontextfield indexborders" data-toggle="modal" data-target="#modalShowRow<%= match.id %>"><%= match.date %></td>

            <!-- modalShowRow -->
            <div class="modal fade" id="modalShowRow<%= match.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Match details</h4>
                  </div>
                  <div class="modal-body">
                    <b> Team one name: </b>
                      <% if match.team_one != nil %>
                        <%= match.team_one.name %>
                      <% else %>
                        <i>Team does not exist</i>
                      <% end %><br/>
                    <b> Team two name: </b>
                      <% if match.team_two != nil %>
                        <%= match.team_two.name %>
                      <% else %>
                        <i>Team does not exist</i>
                      <% end %><br/>
                    <b> Result:  </b> <%= match.result %> <br/>
                    <b> Date:  </b> <%= match.date %> <br/>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of modalShowRow -->

            <td align=center class="indexborders">
                <button type="button" class="btn btn-warning minebtn btn-sm" data-toggle="modal" data-target="#modalShowRow<%= match.id %>">Show</button>
                <%= link_to 'Edit', edit_match_path(match), :class => "btn btn-success btn-sm" %>
                <button type="button" class="btn btn-danger minebtn btn-sm" data-toggle="modal" data-target="#modalDelete<%= match.id %>">Delete</span></button>

                <!-- modalDelete -->
                <div class="modal fade" id="modalDelete<%= match.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Delete confirmation</h4>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete this match: <br/>
                        <b><% if match.team_one != nil %>
                          <%= match.team_one.name %>
                        <% else %>
                          <i>Team does not exist</i>
                        <% end %></b> vs
                        <b><% if match.team_two != nil %>
                          <%= match.team_two.name %>
                        <% else %>
                          <i>Team does not exist</i>
                        <% end %></b>?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default minebtn btn-sm" data-dismiss="modal">No</button>
                        <%= link_to 'Delete', match, method: :delete, :class => "btn btn-danger minebtn btn-sm" %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of modalDelete -->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
